<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Book</title>
</head>
<body>
<a href="/books">HOME</a>

    <form action="/books" method="POST">
    name:
    <input type="text" name="title">
    <br>
    author:
    <input type="text" name="author_name">

    <button>submit</button>
    
    </form>
    
    <a href="/books/new">>>> add a book!! <<<</a>

</body>
</html>